.cart-item {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 15px;
  border-bottom: 3px solid rgb(138, 55, 55);
  padding: 15px;
}

.price {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(138, 55, 55);
}

.amount {
  align-self: flex-end;
  border: 1px solid grey;
  padding: 5px;
}

.button {
  display: block;
  font-size: 48px;
  justify-self: flex-end;
  width: 70px;
}

.button:first-of-type {
  margin-left: auto;
}
